.friend_list {
  margin: 50px auto 0;
  padding: 20px;
  width: 500px;
  background-color: floralwhite;
  text-align: center;
}
.friend_list li {
  display: flex;
  align-items: center;
  padding: 10px;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.6);
  border-radius: 4px;
}
.friend_list li:not(:last-child) {
  margin-bottom: 20px;
}
