.transaction_history {
  margin: 50px auto;
  width: 800px;
  text-align: center;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.6);
  border-radius: 5px;
}
thead th,
tbody td {
  border: 1px solid grey;
  padding: 10px;
}
thead th {
  background-color: cornflowerblue;
}
tbody tr:nth-child(2n) {
  background-color: aqua;
}
